<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-config.dtd" >
<configuration>
	<settings>
		<setting name="jdbcTypeForNull" value="NULL"/>
	</settings>

	<typeAliases>
		<typeAlias type="project.masterpiece.pieceworks.member.model.vo.Member" alias="Member"/>
					<typeAlias type="project.masterpiece.pieceworks.chatting.model.vo.ChattingMessage" alias="ChattingMessage"/>
		
		<typeAlias type="project.masterpiece.pieceworks.chatting.model.vo.ChattingList" alias="ChattingList"/>
		<typeAlias type="project.masterpiece.pieceworks.chatting.model.vo.JoinMember" alias="JoinMember"/>
	</typeAliases>
	<mappers>
		<mapper resource="mappers/member-mapper.xml"/>
				<mapper resource="mappers/chatting-mapper.xml" />
		
	</mappers>
</configuration>
